@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-vinz-blue: #3b82f6;
  --color-bg-main: #09090b; /* Deep Zinc 950 */
  --color-bg-card: #18181b; /* Zinc 900 */
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-bg-main);
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for that pro look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
